PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=freelancerMarketplace
DB_CONNECTION_LIMIT=10
JWT_SECRET=your_super_secret_key_min_32_chars
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_DAYS=7
MONGO_URI=mongodb://localhost:27017/freelancerMarketplace
ALLOWED_ORIGINS=http://localhost:5173
